<form class="login-form" action="/sessions/create" method="post">
  username<br>
  <input type="text" name="user[username]">
  password<br>
  <input type="text" name="user[password]">
  <input type="submit" value="login">
</form>
