<form class="col s8 offset-s2" action="/users" method="post">
  <div class="row-center">
    <%= render "/errors" %>
    <div class="input-field col s12">
      <i class="material-icons prefix"></i>
      <input id="icon_username" type="text" class="validate" name="user[username]">
      <label for="icon_username">Username</label>
    </div>
  </div>
  <div class="row-center">
    <div class="input-field col s12">
      <i class="material-icons prefix"></i>
      <input id="icon_password" type="password" class="validate" name="user[password]">
      <label for="icon_password">Password</label>
    </div>
  </div>
  <div class="row center">
    <input id="download-button" class="btn-large waves-effect waves-light purpleButton" type="submit" value="Register">
  </div>
</form>
