<div class="center">
  <h1> Welcome </h1>
  <p id='description'>Play against our competative Tic-Tac-Toe algorithm. Train your Tic-Tac-Toe skills and track your progress with this new-brand platform! By tracking your wins, loses, ties, and duration of matches, this platform equips you with everything you need to become a Grand Master. Need to step away from the computer? Pause the game and resume it later!</p>
  <a href='/games/new' class="waves-effect waves-light btn-large purpleButton">Play</a>
</div>
