<div class=gameBoard>
  <div class="row">
    <div class="board-col">

    </div>
    <div class="board-col">

    </div>
    <div class="board-col">

    </div>
  </div>
  <div class="row">
    <div class="board-col">

    </div>
    <div class="board-col">

    </div>
    <div class="board-col">

    </div>
  </div>
  <div class="row">
    <div class="board-col">

    </div>
    <div class="board-col">

    </div>
    <div class="board-col">

    </div>
  </div>
</div>
