// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  max-width: 960px;
  min-width: 450px;
  margin: auto;
  margin-top: 3%;
}

.nav-wrapper {
  background-color: #B378D3;
}
.purpleButton {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-top: 15%;
  background-color: #B378D3;
}
#description {
  text-indent: 50px;
  text-align: left;
  font-size: 16px;
}
.purpleButton:hover {
  background-color: #ffa500;
  color: black;
}

.gameBoard {
  // background-color: orange;
  background-image: url('http://sdumontaubrey.htpwebdesign.ca/javagame/production/TWD-JAVA-gameboard.png');
  background-size: contain;
  width: 600px;
  height: 600px;
  margin: auto;
}

div {
  margin: 0;
  padding: 0;
}
div .board-col {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  width: 197px;
  // background-color: green;
  height: 197px;
}

.row {
  // background-color: blue;
  padding-bottom: 0;
  margin: 0;
}

.input-field input:focus + label {
   color: #ffa500 !important;
 }

 .row .input-field input:focus {
   border-bottom: 1px solid gold !important;
   box-shadow: 0 1px 0 0 #ffa500 !important
 }
